# Créer un fichier JSON à partir des données récoltées

In [1]:
import requests

url = 'https://www.tnm5.ma/programme-du-mois/'
response = requests.get(url)
response

In [2]:
print(response.text[:100])

<!-- Include the header -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta

In [3]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(response.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [4]:
spectacles = soup.find("div", {"id": "iso-container"})

In [5]:
noms = []
for i in spectacles.find_all('h3'):
    noms.append(i.text)

In [6]:
s = [] #appelé 's' à cause des espaces qu'il contient
for i in spectacles.find_all('span',class_='help'):
    s.append(i.get_text().replace("\n", "").replace("\xa0", ""))

In [7]:
temps = []
for i in s:
    temps.append(" ".join(i.split()))

In [8]:
dates = []
heures = []
for i in temps:
    dates.append(i[:-6])
    heures.append(i[13:])

In [9]:
img = spectacles.find_all('img')

In [10]:
images = []
for i in img:
    images.append(i['src'].replace("http:","https:"))

In [11]:
images

['https://tnm5.ma/wp-content/uploads/2019/04/IMG_20190628_175106_866.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/06/9juillet--e1561641574477.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/06/10juillet2-e1561545507291.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/07/12juillet2019-e1562667356185.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/04/29avril.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/07/17juillet2019-e1562668104677.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/06/18juillet-2-e1562579160857.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/07/20juillet-e1562948225493.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/07/22juillet.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/07/Flyer_Golden_Jalia_Awards-e1562061361479.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/07/25juillet-.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/07/25juillet-expo-.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/07/26juillet-e1564051409711.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/07/27juillet1-e1563809465946.jpg',
 'https://tnm5.ma/wp-content/uploads/2019/07/affiche--e1563973254248.png',
 'https://tnm5.ma/wp-content/uploads/2019/07/affiche--e1563973254248.png']

In [12]:
prog = []
for i,j,k,l in zip(noms,dates,heures,images):
    t = (i,j,k,l,"Thêatre National Mohamed 5")
    prog.append(t)

In [13]:
#afficher les 5 premiers évènements
prog[0:5]

[('Les ballets la Tarentelle : EXCELSIOR ',
  '2 juil. 2019',
  '18:30',
  'https://tnm5.ma/wp-content/uploads/2019/04/IMG_20190628_175106_866.jpg',
  'Thêatre National Mohamed 5'),
 ('عطيل دومیل دیزناف ',
  '9 juil. 2019',
  '20:00',
  'https://tnm5.ma/wp-content/uploads/2019/06/9juillet--e1561641574477.jpg',
  'Thêatre National Mohamed 5'),
 ('مسرحية  أغنية التم ',
  '10 juil. 2019',
  ' 20:30',
  'https://tnm5.ma/wp-content/uploads/2019/06/10juillet2-e1561545507291.jpg',
  'Thêatre National Mohamed 5'),
 ('المهرجان الدولي مغرب الحكايات ',
  '12 juil. 2019',
  ' 21:00',
  'https://tnm5.ma/wp-content/uploads/2019/07/12juillet2019-e1562667356185.jpg',
  'Thêatre National Mohamed 5'),
 ('مسرحية  لادريسة\u202d \u202cغلط ',
  '15 juil. 2019',
  ' 20:00',
  'https://tnm5.ma/wp-content/uploads/2019/04/29avril.jpg',
  'Thêatre National Mohamed 5')]

**Convertir liste de tuples en Dataframe**

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(prog,columns=['noms','date','heure','image'])

AssertionError: 4 columns passed, passed data had 5 columns

In [ ]:
df.head()

In [ ]:
# Limiter le nombre d'enregistrements
#df.head().to_json("scraping_json/tnm5_records",orient="records")